{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block tab_menu %}

    <button id = 'update_balances' type="button"  class="btn btn-success">Оновити баланс</button>
    <div class="sum_title">
        <p>Різниця з попереднім, $</p>
        <h3>{{ data.profit}}</h3>
    </div>
    <div class="sum_title">
        <p>Сума, BTC </p>
        <h3>{{ data.priceBtc}}</h3>
    </div>
     <div class="sum_title">
        <p>Сума, $</p>
        <h3>{{ data.priceUsd|round(2) }}</h3>
    </div>
{% endblock %}

