{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('//code.highcharts.com/4.1.8/highcharts.js') }}"></script>
    <script src="{{ asset('//code.highcharts.com/4.1.8/modules/exporting.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('build/app.js') }}"></script>

    <script type="text/javascript">
        {% for chart in charts %}
            {{ chart(chart)}}
        {% endfor %}
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}
{% block content %}
    <div class="row">
    </div>
    {% for chart in charts %}
        <div id="{{ chart.chart.chart.renderTo }}" style="min-width: 800px; height: 600px; margin-bottom: 20px"></div>
    {% endfor %}
{% endblock %}